<nav class="navbar">
    <div class="container">
        <h1 class="brand" style="color: yellow;font-weight: bold;">Cosmos Evolution</h1>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/jwst_telescope">JWST</a></li>
            <li><a href="/evolutionVideo">Evolution Video</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQS</a></li>
            <li><a href="/exploreImage">Explore Images</a></li>
            <li><a href="/learnWithGame">Learn With Games</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <!-- Mobile Menu Toggle Button -->
        <!-- <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div> -->
    </div>
</nav>

<!-- <script>
    function toggleMenu() {
        const navbar = document.querySelector('.navbar');
        navbar.classList.toggle('active');
    }
</script> -->
