<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Images</title>
    <!-- <link rel="stylesheet" href="../css/navbar.css"> -->
    <link rel="stylesheet" href="/css/exploreImage.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- <link rel="stylesheet" href="/css/navbar.css"> -->

</head>
<body>
     <!-- <header><%# include('partials/navbar') %></header> -->

    <div class="container" >
        <div class="card-container">
            <a href="/jwt">
                <div class="card" id="card1">
                    <img src="src/image/jwst.jpeg" alt="galaxy 1">
                    <h3>James Web Telescope</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="/orion_nebula">
                <div class="card" id="card2">
                    <img src="src/image/orion_nebula.jpeg" alt="galaxy 2">
                    <h3>ORION NEBULA</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="/jupiter">
                <div class="card" id="card3">
                    <img src="src/image/jupiter.jpeg" alt="galaxy 3">
                    <h3>jupiter</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="/aestroid">
                <div class="card" id="card4">
                    <img src="src/image/aestroids.jpg" alt="galaxy 4">
                    <h3>Aestroids</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
        </div>
    </div>
    
    <div class="container">
        <div class="card-container">
            <a href="ExploreImages/galaxy2.html">
                <div class="card" id="card2">
                    <img src="src/image/Question_Mark_Galaxy.webp" alt="galaxy 2">
                    <h3>Question Mark Galaxy</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="ExploreImages/galaxy6.html">
                <div class="card" id="card6">
                    <img src="src/image/image1.jpg" alt="galaxy 6">
                    <h3>Image 6</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="ExploreImages/galaxy7.html">
                <div class="card" id="card7">
                    <img src="src/image/image2.jpeg" alt="galaxy 7">
                    <h3>Image 7</h3> 
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
            <a href="ExploreImages/galaxy8.html">
                <div class="card" id="card8">
                    <img src="src/image/image3.jpeg" alt="galaxy 8">
                    <h3>Image 8</h3>
                    <!-- <p>Some description.</p> -->
                </div>
            </a>
        </div>
    </div>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>
