<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NASA Science Missions">
    <title>NASA Science Missions</title>
    <link rel="stylesheet" href="css/galaxy.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Science Missions</h1>
        </header>
        <section class="mission-content">
            <div class="text-content">
                <h2>Peering into the creation of the universe and traversing Mars</h2>
                <p>The James Webb Space Telescope is an orbiting infrared observatory that will look to the beginning of time and to hunt for the unobserved formation of the first galaxies, as well as to look inside dust clouds where stars and planetary systems are forming today.</p>
                <p>Much closer to home, NASA has sent five robotic vehicles, called rovers, to Mars. Rovers help scientists in their quest to understand what different parts of the planet are made of.</p>
                <a href="/3d_model/jupiter" class="view-missions">Visualise in 3D &rarr;</a>
            </div>
            <div class="image-content">
                <img src="src/image/jupiter_intro.jpg" alt="James Webb Space Telescope Image">
                <p class="caption">NASA's James Webb Space Telescope’s mid-infrared view of the Pillars of Creation. Image credit: NASA, ESA, CSA, STScI; Joseph DePasquale (STScI), Alyssa Pagan (STScI)</p>
            </div>
        </section>
        <!-- <footer>
            <p>In 2022, we made history. In 2023, we are preparing for our future by exploring the secrets of the universe. All for the benefit of humanity.</p>
        </footer> -->
    </div>
</body>
</html>
