<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWST</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #api-frame{
            width: 1550px;
            height: 800px;
        }
    </style>
</head>
<body>
    
   
        <iframe title="JWST (james webb space telescope) 3D model - Sketchfab" class="c-viewer__iframe"  src="https://sketchfab.com/models/6c92c08a672640afb58ee44d248fd0fe/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" 
        execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
   
</body>
</html>
