<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NASA Science Missions">
    <title>NASA Science Missions - Orion Nebula</title>
    <link rel="stylesheet" href="css/orion_nebula_intro.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>JAMES WEBB SPACE TELESCOPE - ORION NEBULA</h1>
        </header>

        <!-- Visualize in 3D Button placed higher -->
        <div class="view-3d-button">
            <a href="/3d_model/orion_nebula" class="view-missions">Visualize in 3D &rarr;</a>
        </div>

        <section class="mission-content">
            <!-- First Section: Text with Orion Nebula image -->
            <div class="text-left-image-right">
                <div class="text-content">
                    <h2>Orion Nebula Captured by JWST</h2>
                    <p>The Orion Nebula, as captured by the James Webb Space Telescope (JWST), offers an awe-inspiring view of one of the most spectacular star-forming regions in the universe. Located about 1,350 light-years away from Earth, in the constellation Orion, the nebula is a stellar nursery, where new stars are born amidst clouds of gas and dust.</p>
                    <p>Thanks to JWST's ability to see in the infrared spectrum, the telescope pierces through dense dust clouds, offering a clear view of young, forming stars, protoplanetary disks, and complex gas structures. JWST reveals intricate details of the nebula’s structure that were previously unseen in such clarity, showcasing massive stars like those in the Trapezium Cluster.</p>
                </div>
                <div class="image-content">
                    <img src="src/image/orion_nebula_intro.jpeg" alt="Orion Nebula Image">
                    <p class="caption">NASA's James Webb Space Telescope view of the Orion Nebula. Image credit: NASA, ESA, CSA, STScI.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
